.row {
    background: lightgray;
    height: 600px;
}

.container {
    text-align: center;
    padding-left: 0px 50px 0px 50px;
}

div h2 {
    font-size: 28px;
}

.underscores {
    margin: 50px 50px;
    font-size: 40px;
}
